<div class="latest_list_container">
    <ul>
        {{- if (default true $.Site.Params.latestOnlyPage) -}}
        {{ range first 10 (sort (where .Site.Pages "IsPage" true) "Lastmod" "desc") }}
        <a href="{{ .Permalink }}"><li>
                <span style="display:inline-block; text-decoration:none">{{ default "📄" $.Site.Params.iconLatestPage }} </span>
                {{- .Title -}}
                {{- if $.Site.Params.latestSummaryLength -}}
                <div class="latest_summary">
                {{- substr (replaceRE "<[^>]+>" "" .Summary) 0 $.Site.Params.latestSummaryLength -}}
                </div>
                {{- end -}}
                </li></a>
        {{ end }}
        {{- else -}}
        {{ range first 10 (sort .Site.Pages "Lastmod" "desc") }}
        <a href="{{ .Permalink }}"><li>
                {{- if .IsPage -}}
                <span style="display:inline-block; text-decoration:none">{{ default "📄" $.Site.Params.iconLatestPage }} </span>
                {{- else -}}
                <span style="display:inline-block; text-decoration:none">{{ default "📂" $.Site.Params.iconLatestList }} </span>
                {{- end -}}
                {{- .Title -}}
                {{- if $.Site.Params.latestSummaryLength -}}
                <div class="latest_summary">
                {{- substr (replaceRE "<[^>]+>" "" .Summary) 0 $.Site.Params.latestSummaryLength -}}
                </div>
                {{- end -}}
                </li></a>
        {{ end }}
        {{- end -}}
    </ul>
</div>
