
{{ "<!-- PROFILE -->" | safeHTML }}
<div class="profile">
    {{- with $.Site.Params.profileImage -}}
    <img src="{{ $.Site.BaseURL }}{{ . }}" />
    {{- end -}}
    {{- with $.Site.Params.profileTwitter -}}
    <a href="https://twitter.com/{{ . }}" target="_blank">@{{ . }}</a>
    {{- end -}}
    {{- with $.Site.Params.profileHTML -}}
    {{ . | safeHTML }}
    {{- end -}}

    <p class="description">
    {{ $.Site.Params.profileDescription }}
    </p>
</div>
{{ "<!-- PROFILE -->" | safeHTML }}
